.container {
    margin: 0 auto;
    width: 1460px;
    font-family: 'Montserrat', 'sans-serif';
}
.title {
    font-family: Montserrat sans-serif;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #4E4E4E;
}
.section-container {
    margin: 0 auto;
    width: 1160px;
    font-family: 'Montserrat', 'sans-serif';
}
/*top-screen*/
.top-screen-wrap-flex {
    background: rgba(0,0,0,0.6);
}
.top-screen-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    margin: 0 auto;
    width: 1460px;
}

.top-screen {
    background-image: url("../img/section_background/section-1(header).jpg");
    background-attachment: fixed;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.top-screen-navbar-logo {
    display: flex;
    align-items: center;
    position: relative;
    left: 150px;

}
.top-screen-navbar-logo-img {
    background-image: url("../img/Logo_H (1).png");
    background-position: center;
    background-repeat: no-repeat;
    height: 67px;
    width: 60px ;
}
.top-screen-navbar-logo-link {
    text-decoration: none;
    font-size: 22px;
    color: white;
    text-transform: lowercase;

}
.top-screen-navbar-logo-span {
    text-transform: capitalize;
    color: #18CFAB;
    font-weight: bold;
}
.top-screen-nav-menu {
    align-items: center;
    flex-wrap: nowrap;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}
.top-screen-nav-menu-link {
    margin: 20px 15px;
    text-decoration: none;
    color: #B8B8B7;
    text-transform: uppercase;
    position: relative;
}
.top-screen-nav-menu-link:hover {
    color: #18CFAB;
    border-bottom: 3px solid #18CFAB;
    width: 10px;
    padding-bottom: 48px;
}

.top-screen-nav-search-icon {
    display: flex;
    color: white;
    position: relative;
    right: 290px;
}
.top-screen-content {
    text-align: center;
    padding-top: 150px;
}
.top-screen-content-title {
    font-weight: bold;
    font-size: 35px;
    line-height: 1px;
    text-transform: uppercase;
    color: white;
    padding-bottom: 75px;
}
.top-screen-content-span {
    text-transform: uppercase;
    color: #18CFAB;
}
.top-screen-content-slogon {
    font-weight: bold;
    font-size: 80px;
    line-height: 1px;
    text-transform: uppercase;
    color: white;
    padding-bottom: 75px;

}
.top-screen-content-subtitle{
    font-size: 34px;
    line-height: 1px;
    color: #D4D4D4;
}

.top-screen-content-btns{
    display: flex;
    justify-content: center;
    font-size: 15px;
    text-decoration: none;
    padding: 200px 0;

}
.btn {
    display: flex;
    font-weight: bold;
    text-decoration: none;
    height: 55px;
    width: 215px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    color: white;
    box-shadow: 0px -5px 0px 0px white ;
    text-transform: uppercase;
}
.explore-btn {
    margin-right: 10px;
    background-color: #89ca62;

}
.purchase-btn{
    margin-left: 10px;
    background-color: #14b9d5;
}

.section-option-flex {
    display: flex;
}

.section-option-items {
    display: flex;
    height: 200px;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    text-transform: uppercase;
    /*font-family: 'Montserrat' , 'sans-serif';*/
    /*font-style: normal;*/
    font-weight: bold;
    font-size: 15px;
    padding-bottom: 40px;
    background-color: #1C2A33;
    color: #18CFAB;
}
.section-option-items:nth-child(even) {
    background-color: #18CFAB;
    color: #FFFFFF;
    border-top: 5px solid white;
}
.section-option-items:nth-child(odd){
    border-top: 5px solid #18CFAB;
}
.section-option-img {
    position: relative;
    top: -70px;
}
.section-option-img-section {
    position: relative;
    top: -52px;
}
.section-option-paragpaph {
    position: absolute;
}
/* Section: our-services*/
.underline::after {
    content: "";
    background-color: #18CFAB;
    height: 2px;
    width: 120px;
    display: block;
    margin: 5px auto
}
.pre-underline::before {
    content: "";
    background-color: #18CFAB;
    position: relative;
    bottom: -59px;
    left: 15px;
    height: 2px;
    width: 120px;
    display: block;
    margin: 5px auto
}
.section-container {
    width: 1260px;
    margin: 0 auto;

}
.our-services{
    display: flex;
    text-align: center;
    margin-bottom: 50px;
}
.our-services-title {
    margin: 100px ;
    font-size: 36px;
    line-height: 40px;
}
.our-services-list {
    display: flex;
    margin-bottom: 22px;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    color: #717171;
    list-style: none;
    background-color: #F8FCFE;
}
.our-services-text {
    color: #4E4E4E;
}

.our-services-list-items {
    text-decoration: none;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #717171;
    background-color: #F8FCFE;
    cursor: default;
}
.our-services-list-items:hover {
    border: 1px solid  #18CFAB;

}
.our-services-img{
    width: 209px;
    margin-left: -9px;
}
.tabs-title:hover {
    border: 1px solid  #18CFAB;
}

.our-services-body {
    display: none;
    justify-content: flex-start;
    padding: 10px;
}
.our-services-body-description {
    display: flex;
    text-align: left;
}
.tab-img {
    display: flex;
    margin-right: 20px;
}

.container-flex{
    display: flex;
}
.active {
    color: white;
    background-color: #18CFAB;
}
/* Section: buy-soft*/
.buy-soft {
    padding-top: 50px;
    background-image: url("../img/section_background/section-2.jpg")  ;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    background-position: right bottom -286px;
    background-attachment: fixed;
    align-items: center;
}
.buy-soft-title{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    color: #18CFAB;
    text-transform: uppercase;
}
.buy-soft-paragraph {
    display: flex;
    justify-content: center;
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
    padding-bottom: 50px;
 }
.buy-soft-btn {
    display: flex;
    justify-content: center;
}
.buy-soft-purchase-btn {
    display: flex;
    text-decoration: none;
    height: 55px;
    width: 215px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #18CFAB;
    box-shadow: 0px -5px 0px 0px white;
}
/* Section: our-amazing-work*/
.grid-img {
    width: 100%;
    height: 100%;
}
.hide{
    display: none;
}
.section-container {
    margin: 0 auto;
    width: 1160px;
}
.our-amazing-work {
    display: flex;
    align-items: center;
    text-align: center;
}
.our-amazing-work-title {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 36px;
    line-height: 40px;
    color: #717171;
}
.our-amazing-work-menu{
    display: flex;
    flex-wrap: nowrap;
    font-size: 16px;
    line-height: 25px;
    text-transform: capitalize;
    justify-content: center;
    margin-bottom: 50px;
}
.our-amazing-work-links{
    text-decoration: none;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #717171;
    background-color: #F8FCFE;
    cursor: default;
}
.our-amazing-work-links:hover {
    border: 1px solid  #18CFAB;
    color:#18CFAB ;
}

.grid {
    padding-bottom: 50px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
            "item1 item2 item3 item4"
            "item5 item6 item7 item8"
            "item9 item10 item11 item12"
            "item13 item14 item15 item16"
            "item17 item18 item19 item20"
            "item21 item22 item23 item24"
}
.grid > div {

    background-position: center;
    background-repeat: no-repeat;
}
.item1 {
    grid-area: item1;
}
.item2 {
    grid-area: item2;
}
.item3 {
    grid-area: item3;
}
.item4 {
    grid-area: item4;
}
.item5 {
    grid-area: item5;
}
.item6 {
    grid-area: item6;
}
.item7 {
    grid-area: item7;
}
.item8 {
    grid-area: item8;
}
.item9 {
    grid-area: item9;
}
.item10 {
    grid-area: item10;
}
.item11 {
    grid-area: item11;
}
.item12 {
    grid-area: item12;
}
.item13 {
    grid-area: item13;
}
.item14 {
    grid-area: item14;
}
.item15 {
    grid-area: item15;
}
.item16 {
    grid-area: item16;
}
.item17 {
    grid-area: item17;
}
.item18 {
    grid-area: item18;
}
.item19 {
    grid-area: item19;
}
.item20 {
    grid-area: item20;
}
.item21 {
    grid-area: item21;
}
.item22 {
    grid-area: item22;
}
.item23 {
    grid-area: item23;
}
.item24 {
    grid-area: item24;
}
.our-amazing-work-btn {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
#load-more-btn {
    display: flex;
    text-decoration: none;
    height: 55px;
    width: 215px;
    border: 1px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #18CFAB;
    background-image: url("../img/Forma 1.png");
    background-repeat: no-repeat;
    background-position: 35px;
    }

.wqw {
    color: black;
}
/*Our amazin work flip*/
.flip-card {
    background-color: transparent;
    perspective: 1000px;
}
.flip-card:hover {
    border-top: 3px solid #18CFAB;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flip-card-front {
    background-color: #bbb;
    color: black;
}
.flip-card-front-lust {
    background-color: #bbb;
    color: black;
}
.flip-card-back {
    top: 0;
    background-color: white;
    transform: rotateY(180deg);
}
.flip-card-back-icon {
    padding-top: 46px;
}
.flip-card-back-logo {
    padding: 23px;
    text-transform: uppercase;
    color: #18CFAB;
    /*font-family: 'Montserrat', 'sans-serif';*/
    font-size: 16px;
    font-weight: bold;
}
.flip-card-back-paragraph{
    color: #8A8A8A;
    text-transform: capitalize;
}
/*breaking-news*/
.first-block {
    display: flex;
}
.breaking-news {
     justify-content: space-between;
}
.breaking-news-subtitle{
    padding: 10px;
    text-transform: capitalize;
    color: #717171;
    font-size: 22px;
    /*font-family: 'Montserrat' , 'sans-serif';*/
    font-weight: bold;
}
.breaking-news-paragraph{
    padding-left: 10px;
    color: #777777;
    /*font-family: 'Montserrat','sans-serif';*/
}
.breaking-news-text{
    position: relative;
    width: 70px;
    height: 64px;
    top: 73px ;
    left: 193px;
    color: white;
    text-align: center;
    background-color: #203E38;
    padding-top: 9px;
    /*font-family: 'Montserrat', 'sans-serif';*/
    font-size: 16px;
    line-height: 25px;
}
.breaking-news-items> div:hover .breaking-news-text{
    background-color: #18CFAB;
}
.breaking-news-items> div:hover .breaking-news-subtitle {
    color: #18CFAB;
}
.breaking-news-span1{
    text-transform: capitalize;
    display: block;
    margin-top: 10px;
}
/*section THE HAM*/
.the-ham{
    background-image: url("../img/section_background/section-3.jpg");
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    background-position: right bottom -100px;
    align-items: center;
    margin: 50px;
}
.the-ham-title {
    text-align: center;
    color: white;
    font-size: 36px;
   padding: 100px;
    text-transform: capitalize;
}
.the-ham-title::before {
    content: "";
    background-color: #18CFAB;
    position: relative;
    bottom: -75px;
    left: -15px;
    height: 2px;
    width: 90px;
    display: block;
    margin: 5px auto;
}

.the-ham-title::after{
    content: "";
    background-color: #18CFAB;
    position: relative;
    bottom: -34px;
    left: -5px;
    height: 2px;
    width: 90px;
    display: block;
    margin: 5px auto;
}
/*.tabs-content::after {*/
/*    content: "";*/
/*    background-color: #18CFAB;*/
/*    height: 2px;*/
/*    width: 120px;*/
/*    display: block;*/
/*    margin: 25px auto 57px;*/
/*}*/

ul {
    list-style: none;
    padding-left: 0;
}

.centered-content {
    width: 1260px;
    margin: 0 auto;
    background: pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabs {
    display: flex;
    justify-content: center;


}


.tabs-title {
    margin: 20px  ;
    padding: 5px;
    cursor: pointer;
    background: #1B4239;
    border-radius: 100px;

}
.tabs-content {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.tab-b {
    display: none;
    text-align: center;
}
.tab-v {

    padding: 4px;
    border-radius: 154px;
}

.the-ham-descript {

    color: #BBBBBB;
}
.the-ham-author {
    padding: 20px  ;
    display: block;
    color: #BBBBBB;;
}
.the-ham-author-span {
    text-transform: uppercase;
    color: #18CFAB;
    font-size: 25px;
    font-weight: bold;
    display: block;
    padding: 10px;
}

.activ {
    position: relative;
    bottom: 10px ;

}

















/*best img*/
.img {
    padding: 10px;
}
.best-img-pictures{
    background-color: white;
    font-size: 18px;
    font-weight: 700;
}
/*Styles*/
.best-img{
    display: flex;
}
.best-images-wraper{
    display: flex;
    width: 1160px;
    margin: 0 auto;
}
.best-img-title{
    text-align: center;
    font-size: 27px;
    color: #4E4E4E;
    text-transform: none;
    margin-top: 43px;
    margin-bottom: 52px;
}
.best-img-box1{
    display: flex;
    flex-direction: column;
}
.grid-best-img {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-areas:
            "grid-best-img-item1 grid-best-img-item2 grid-best-img-item3"
            "grid-best-img-item4 grid-best-img-item5 grid-best-img-item6"
            "grid-best-img-item7 grid-best-img-item8 grid-best-img-item9"
}
.item1 {
    grid-area: grid-best-img-item1;
}
.item2 {
    grid-area: grid-best-img-item2;
}
.item3 {
    grid-area: grid-best-img-item3;
}
.item4 {
    grid-area: grid-best-img-item4;
}
.item5 {
    grid-area: grid-best-img-item5;
}
.item6 {
    grid-area: grid-best-img-item6;
}
.item7 {
    grid-area: grid-best-img-item7;
}
.item8 {
    grid-area: grid-best-img-item8;
}
.item9 {
    grid-area: grid-best-img-item9;
}
.best-images-saction-grid {
    height: 190px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-top: 10px;
    grid-template-areas:
            "div1 div2"
}
.div1 {
    grid-area: div1;
}
.div2 {
    grid-area: div2;
}
.best-img-button {
    display: flex;
    justify-content: center;
    padding: 77px;
}
.best-img-btn {
    display: flex;
    text-decoration: none;
    height: 55px;
    width: 215px;
    background-position: 35px;
    background-image: url("../img/Forma 1.png");
    background-repeat: no-repeat;
    border: 1px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #18CFAB;
}

.grid-best-container-img{
    width: 100%;
}
/*footer*/
.copyright {
    /*font-family: 'Montserrat', 'sans-serif';*/
    border: 1px solid black;
    display: block;
    padding: 50px;
    text-align: center;
    background-image: url("../img/footer.png");
    color: #AEAEAE;
    }
.copyright-info-span{
    color: #18CFAB;
}